/*fonts*/
@font-face {
    font-family: "JaneRoe";
    src: url("../fonts/janeroe/bold.ttf");
    }
@font-face {
      font-family: "JaneRoeLight";
      src: url("../fonts/janeroe/light.ttf");
    }
#lock {
    position: fixed;
    bottom:0.5rem;
}

#nav {
    padding-left:0.7rem;
    padding-top:0.4rem;
    height:50rem;
    width:4.5rem;
    box-sizing:border-box;
    background-color:rgb(38, 32, 75);
}

#log {
    position:fixed;
    left:4.5rem; 
    top:0rem; 
    height: 45rem;
    width:20rem;
    box-shadow: 1px 1px 1px #e0e0e0 ;
    background-color: #f5f5f5 ; 
}

#action_bar {
    position:fixed;
    left:24.5rem; 
    top:0rem; 
    height:3.5rem;
    width:90rem;
    box-shadow: 1px 2px 1px #e0e0e0 ;
}

i.icon_nav {
    font-size:3rem !important;
}


i.icon_actionbar {
    position:fixed;
    color: rgb(175, 173, 173);
    font-size:2rem !important;
}

#noteadd {
    position:fixed;
    right:3.2rem;
    top:1.5rem;
}

#notedelete {
    position:fixed;
    right:0.3rem;
    top:1.5rem;
}

#ProjectTabs {
    position:fixed;
    box-sizing: border-box;
    padding-left: 0.7rem;
    padding-top:0rem;
    padding-bottom:0.1rem;
    left:24.5rem; 
    top:3.6rem; 
    height:3rem;
    width:66rem;
    box-shadow: 0px 2px 0px #e0e0e0 ;
    border:none;
    overflow:hidden;
    outline:none;
    resize:none;
    font-size:1.3rem;
    font-family:"JoneRoeLight" !important;
    caret-color: rgb(204, 193, 193);
    display:flex;
    justify-content: flex-start;
    flex-wrap: nowrap ;
}

.tabs_nav {
    height:2.8rem;
    width:12rem;
    box-sizing: border-box;
    padding-bottom: 1rem;
    /* background-color:red */;
}

.tabs_nav_title {
    position: relative;
    top:0rem;
    left:0rem;
}

.tabs_nav_button {
    position: relative;
    height:0.5rem;
    width:0.9rem;
    top:0.1rem;
    left:0.1rem;
    background-color:grey;
}

textarea::-webkit-input-placeholder {
    color: rgb(95, 95, 95);
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: rgb(95, 95, 95);
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(95, 95, 95);
  }
  
  textarea:-ms-input-placeholder {
    color: rgb(95, 95, 95);
  }
  
  textarea::placeholder {
    color: rgb(95, 95, 95);
  }

  .project {
      position: fixed;
      top:1.5rem;
      left:0.1rem;
      background-color:rgb(38, 32, 75);
      height: 3rem;
      width:3rem;
  }

  .id {
      background-color:rgb(179, 111, 90);
      height: 3rem;
      width:3rem;
      position:absolute;
      top:0rem;
      left:0.6rem;
      border-radius: 0.4rem ;
      font-family:"JaneRoe";
      font-size:2.5rem;
      box-sizing: border-box;
      padding-left:0.8rem;
      padding-bottom: 3.2rem;
  }

  #projectinfo {
      font-family:"JaneRoe";
      font-size:2.3rem;
      position:absolute;
      top:0.2rem;
      left:1rem; 
    }

    #username {
        font-family: "JaneRoeLight";
        font-size:1rem;
        color:black;
        position:absolute;
        left:0.2rem;
        top:2.5rem;

    }

    #actionbuttons {
        position:fixed;
        top:5rem;
        left:5rem;
        font-family:"JohnRoe";
      /*   background-color: aqua; */
        height:15rem;
        width:19rem;
        font-size:1.4rem;
    }

    .navicons {
        color:rgb(172, 171, 171);
        font-size:2.2rem !important;
    }

    #mainarea { 
       /* background-color:aqua; */
       position:fixed;
       left:24.5rem; 
       top:6.6rem; 
       height:37rem;
       width:65.8rem;
       word-wrap: break-word;
       outline:none;
       border:none;
       resize:none;
       overflow:auto;
       font-size:2rem;
       padding-left:2rem;
       padding-top:0.5rem;
       font-family:"JoneRoeLight";
    }

    body::-webkit-scrollbar {
        width: 9px;
    } 

    body::-webkit-scrollbar-thumb {
        background: rgb(52, 45, 114);
        border: 1px solid rgb(0,0,0);
    }

    body::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;  
    }
    
